<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <php>
        <ini name="error_reporting" value="-1" />
        <ini name="date.timezone" value="UTC"/>
    </php>

    <testsuites>
        <testsuite>
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
